.App {
  background-color: #282c34;

  > p {
    color: whitesmoke;
    margin: 0;
  }

  &-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-content: space-between;
    padding: 24px;
  }
}
